@inherits InputBase<string>

<div class="markdownedit">

    @if (this.Toolbar != null)
    {
        <div class="toolbar">
            @this.Toolbar
        </div>
    }

    <textarea id=@this.Id class="form-control @CssClass" @bind=@CurrentValue rows="10"></textarea>

    @if (this.ShowHelp)
    {
        <div class="text-muted mt-2">Support basic markdown syntax, see <a href="https://www.markdownguide.org/basic-syntax">https://www.markdownguide.org/basic-syntax for more help.</a></div>
    }

    @if (this.ShowPreview)
    {
        <div class="preview mt-2">
            @((MarkupString)this.Preview)
        </div>
    }

</div>
