@inherits InputBase<string>

<div class="markdownedit d-block">

    @if (this.Toolbar != null)
    {
        <div class="toolbar">
            @this.Toolbar
        </div>
    }

    <textarea class="form-control @CssClass" rows="10" id=@this.Id @bind=@CurrentValue></textarea>

    @if (this.ShowHelp)
    {
        <small class="d-block mt-2">Support basic markdown syntax, see <a href="https://www.markdownguide.org/basic-syntax">https://www.markdownguide.org/basic-syntax for more help.</a></small>
    }

    @if (this.ShowPreview)
    {
        <div class="preview mt-2">
            @((MarkupString)this.Preview)
        </div>
    }
</div>
